.navbar{
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.nav-container{
  max-width: 1100px;
  margin: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo{
  height: 32px;
}

.nav-center{
  display: flex;
  gap: 30px;
}

.nav-center a{
  text-decoration: none;
  font-weight: 600;
  color: #334155;
}

.nav-center a:hover{
  color: #2f7d5b;
}

.nav-btn{
  background: #2f7d5b;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
}

.nav-btn:hover{
  opacity: 0.9;
}
