*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
}

.test-title{
  font-size: 40px;
  margin-bottom: 10px;
}

.test-subtitle{
  color: #64748b;
}
